.gitignore
.idea/.gitignore
.idea/git-learning.iml
.idea/inspectionProfiles/
.idea/misc.xml
.ideas/modules.xml
.ideas/profile_settings.xml
.idea/Project_Default.xml
.idea/vcs.xml
__pycache__/
scratch.py